/* global */
html{height: 100%;}

body
{ 
  font-family: 'lucida grande', 'Segoe UI', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;
  padding: 0px;
  margin: 0px;
  font-size: .78em;
}

p
{ margin: 0px;
  padding: 0px 0px 16px 0px;
  line-height: 1.7em;
}

h1, h2, h3, h4
{ 
  padding: 0px; 
  margin: 0px; 
  font-weight: bold;
}
h1{font-size: 200%;}
h2{font-size: 150%;}
h3{font-size: 125%;}
h4{font-size: 110%;}

img
{ border: 0px; 
  margin: 0px; 
  padding: 0px;
}

a{outline: none;}

form{padding: 0; margin: 0;}

/* block quote */
blockquote
{ margin: 20px 0px 20px 0px; 
  padding: 10px 20px 0px 20px;
  border-left: 8px solid;
}

/* unordered list */
ul
{ margin: 2px 0px 18px 16px;
  padding: 0px;
}

ul li
{ list-style-type: square;
  margin: 0px 0px 6px 0px; 
  padding: 0px;
}

/* ordered list */
ol
{ margin: 8px 0px 0px 24px;
  padding: 0px;
}

ol li
{ margin: 0px 0px 11px 0px; 
  padding: 0px;
}

/* margin lefts / margin rights - to centre content */
#main, #footer, #logo, #menubar, #site_content
{ margin-left: auto; 
  margin-right: auto;
}

/* main container */
#main{width: 770px;}



#logo h1 {font-size: 300%; }

/* navigation menu */
#menubar
{ width: 770px;
  height: 65px;
} 

/* main content */
#site_content
{ width: 770px;
  overflow: hidden;
  margin: 5px 0px 0px 0px;
  background: #FFF;
} 


/* page content */
#content
{ 
  width: 708px;
  float: left;
  padding: 22px 30px 15px 30px;
}



/* footer */
#footer
{ width: 770px;
  height: 90px;
  padding: 10px 0px 10px 0px;
}

a{text-decoration: underline;}